<!DOCTYPE html>
<html>
    {% load leaflet_tags %}
    {% load static %}
    <head>
        {% leaflet_js %}
        {% leaflet_css %}
    <title>Our Home</title>
    <style type="text/css">

        #gis {
            width:100%;
            height: calc(100vh - 150px);
            margin: 0;
            padding: 0;
        }
        h3{
            font-size: 33px;
            text-align: center;
        }


    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'leaflet-groupedlayercontrol/dist/leaflet.groupedlayercontrol.min.css' %}"> 
    <script type="text/javascript" src= "{% static 'leaflet-groupedlayercontrol/dist/leaflet.groupedlayercontrol.min.js' %}"> </script>
    <script type="text/javascript" src= "{% static 'dist/leaflet.ajax.js' %}"> </script>
</head>
<body>
    <h3>Mombasa Heritage Sites</h3>
<br/>
<script type="text/javascript">
        function our_layers(map,options){
            var osm = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', 

            ).addTo(map);

            var datasets = new L.GeoJSON.AJAX("{% url 'subcounty' %}",{
                style: function colors(feature){
                switch(feature.properties.adm2_en){
                    case 'Changamwe':
                        return{
                            color: 'green',
                            fillOpacity: 0.8
                        };
                    break;
                    case 'Jomvu':
                        return{
                            color: 'yellow',
                            fillOpacity: 0.8
                        };
                    break;
                    case 'Kisauni':
                        return{
                            color: 'red',
                            fillOpacity: 0.8
                        };
                    break;
                    case 'Likoni':
                        return{
                            color: 'purple',
                            fillOpacity: 0.8
                        };
                    break;
                    case 'Mvita':
                        return{
                            color: 'orange',
                            fillOpacity: 0.8
                        };
                    break;
                    case 'Nyali':
                        return{
                            color: 'pink',
                            fillOpacity: 0.8
                        };
                    break;
                   
                }
            },
                
                onEachFeature: function(feature,layer){
                layer.bindPopup(feature.properties.adm2_en.toString());
                }

            });

            var points = new L.GeoJSON.AJAX("{% url 'historicalsite' %}",{
                onEachFeature: function(feature,layer){
                    layer.bindPopup('<img src="http://127.0.0.1:8000/media/'+feature.properties.Image+'" /><p>Name:'+feature.properties.Name+'</p><p>PlotNo:'+feature.properties.PlotNo+'</p><p>Area:'+feature.properties.Area+'</p>');
                }

            });
            
            datasets.addTo(map);
            points.addTo(map);
            

            var baseLayers = {
            "OSM": osm
            }

            var groupedOverlays = {
            "Layers": {
                "subcounty": datasets,
                "historicalsite": points
            },
            
            };

            L.control.groupedLayers(baseLayers, groupedOverlays).addTo(map);
        
        }  
        
</script>
{% leaflet_map "gis" callback="window.our_layers" %}
    </body>
</html>